@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-image: linear-gradient(135deg, #4793AF, #FFC470);
}

nav {
    position: fixed;
    background-color: #2C3E50;
    margin: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 0 30px 0 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

nav h1 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 800;
}

.sarang {
    color: #FFC470;
}

.univ {
    color: #5baac7;
}

nav ul {
    margin: 0 30px 0 30px;
}

nav ul li {
    display: inline-block;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    list-style: none;
    font-weight: 600;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: #FFC470;
}

.dashboard {
    margin-left: 516px;
}

.menu-dropdown {
    position: relative;
    margin: 0 0 0 60px;
    padding-bottom: 5px;
}

.reports-dropdown {
    display: none;
}

.menu-dropdown:hover .reports-dropdown {
    display: block;
    position: absolute;
    top: 100%;
    left: 50%; 
    transform: translateX(-50%); 
    background-color: #2C3E50;
    width: 170px;
    font-size: 14px;
    text-align: center;
}

nav ul li ul {
    display: block;
    margin: 10px;
    padding: 0; 
    list-style: none; 
}

nav ul li ul li {
    display: inline-block;
    list-style: none;
    width: 100%; 
}

nav ul li ul li a {
    display: block; 
    width: 100%; 
    height: 100%; 
    padding: 8px; 
    color: white; 
    text-decoration: none; 
    font-size: 14px;
}


nav ul li ul li:hover a{
    background-color: #FFC470;
    color: #2C3E50;
}

.SignOutBTN {
    margin-left: 60px;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    background-color: #FFC470;
    color: #2C3E50;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
}

.SignOutBTN:hover {
    transform: scale(0.98);
}

.contentPanel {
    margin: 60px 0 0 0;
    height: 91vh;
    font-family: "Poppins", sans-serif;
    padding: 0 30px 0 30px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userInfo {
    width: 98%;
    height: 60px;
    background-color: #eee;
    border: 2px solid #b9b8b8;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 0 30px 0 30px;
}

.userInfo h4 {
    font-size: 16px;
    color: #2C3E50;
}

.userInfo i {
    font-size: 32px;
    color: #2C3E50;
    margin-right: 15px;
}

.userInfo .id {
    margin-left: 750px;
}

.userInfo .role {
    margin-left: 50px;
}

.userInfo span{
    color: rgb(165, 67, 67);
}

.summary {
    width: 98%;
    height: 300px;
    background-color: #eee;
    border: 2px solid #b9b8b8;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 15px 30px 15px 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.summary h3 {
    font-size: 18px;
    color: #2C3E50;
    margin-bottom: 10px;
}

.summary .summary-container {
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.summary .summary-container > div {
    width: 23%; 
    height: 90%;
    background-color: rgba(80, 102, 124, 0.8);
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    font-size: 16px;
}

.summary-container .student-summary h1 {
    color: white;
}

.summary-container .major-summary h1 {
    color: white;
}

.summary-container .department-summary h1 {
    color: white;
}

.summary-container .course-summary h1 {
    color: white;
}

.misc {
    width: 98%;
    height: 130px;
    background-color: #eee;
    border: 2px solid #b9b8b8;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 15px 30px 15px 30px;
}

.misc h3{
    font-size: 18px;
    color: #2C3E50;
    margin-bottom: 10px;
}

.misc .misc-container {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.misc .misc-container ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
}

.misc .misc-container ul li {
    display: inline-block;
}

.misc .misc-container ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 10px 20px;
    background-color: #4793AF;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.misc .misc-container ul li a:hover {
    background-color: #FFC470;
    color: #2C3E50;
}
