@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    width: 235px;
    height: 100%;
    background-color: #2C3E50;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 1;
}

.sidebar h2 {
    margin-bottom: 30px;
    font-size: 18px;
}

.sidebar h2::after {
    content: '';
    display: block;
    height: 1px;
    width:100%;
    background-color: #d4d2d2;
    margin: 10px auto;
}

.sidebar .forms-items a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 20px 0;
    font-size: 14px;
}

.sidebar .forms-items a:hover {
    background-color: #FFC470;
    color: #2C3E50;
    padding-left: 10px;
    transition: 0.3s;
    border-radius: 2px 6px 6px 2px;
}

.contentPanel {
    margin: 60px 0 0 235px;
    height: 91vh;
    font-family: "Poppins", sans-serif;
    padding: 20px 30px 0 30px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}


.contentPanel .header{
    font-size: 12px;
    color: white;
    text-shadow: 0 0 10px #2C3E50;
    margin-bottom: 10px;
}

.report-select {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.sort {
    width: 22%;
    height: 100%;    
}

.filter {
    width: 32%;
    height: 100%;  
}

.sort h5, .filter h5 {
    color: white;
    text-shadow: 0 0 20px #2C3E50;
    font-weight: 500;

}

.select-container select {
    background-color: #eee;
    align-self: last baseline;
    height: 34px;
    font-weight: 600;
    color: #2C3E50;
    border-radius: 5px;
    outline: none;
    border: 2px solid #2C3E50;
}

.select-container select option {
    font-weight: 600;
    color: #2C3E50;
}

.downloadReport {
    width: 15%;
    height: 36px;
    align-self: last baseline;
    border-radius: 5px;
    background-color: #2C3E50;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.downloadReport:hover {
    transform: scale(0.98);
}

.search {
    width: 30%;
    height: 36px;
    position: relative;
    display: flex;
    align-self: last baseline;
}
  
.searchTerm {
    width: 100%;
    border: 2px solid #2C3E50;
    background-color: #eee;
    border-right: none;
    padding: 17px 14px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #2C3E50;
    font-weight: 600;
}
  
.searchTerm:focus{
    color: #2C3E50;
}
  
.searchButton {
    align-self: last baseline;
    width: 40px;
    height: 36px;
    border: 1px solid #2C3E50;
    background: #2C3E50;
    text-align: center;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
  
.summary {
    width: 15%;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 35px 0 25px 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 100px;
    background-image: linear-gradient(135deg, #FFC470, #0F4979);
    border: 2px solid #2C3E50;
}

.summary h1 {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: white;
    text-shadow: 0 0 10px #2C3E50;
}

.summary p {
    font-size: 24px;
    color: white;
    text-shadow: 0 0 10px #2C3E50;
}